/* For tablets: */
/* For desktop: */
#app {
	margin-top: 15px;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}
button {
	color:white;
	background-color: #00aeff;
	border: none;
	height: 30px;
}
p {
	margin-top: 0;
	font-size: 13px;
}
.inline-bl {
	display: inline-block;
}
.m-auto {
	margin: 0px auto;
}
.flex {
	display: flex;
}
.flex-one {
	flex: 1;
}
.cats {
	margin-bottom: 10px;
}
label{
	margin-right:20px;
}
.catSelect {
	height: 0;
	width: 0;
	visibility: hidden;
	&:checked {
		+ {
			label {
				color: #00aeff;
				text-decoration: underline;
			}
		}
	}
}
label {
	cursor: pointer;
}
.fl-left {
	float: left;
}
.fl-right {
	float: right;
}
html {
	background-image: url("assets/background_image.jpg");
	background-attachment: fixed;
}
body {
	margin-left: 0;
	width: 100%;
}
div {
	color: white;
}
[class*="col-"] {
	width: 100%;
}
@media only screen and (min-width: 980px) {
	.col-s-1 {
		width: 8.33%;
	}
	.col-s-2 {
		width: 16.66%;
	}
	.col-s-3 {
		width: 25%;
	}
	.col-s-4 {
		width: 33.33%;
	}
	.col-s-5 {
		width: 41.66%;
	}
	.col-s-6 {
		width: 50%;
	}
	.col-s-7 {
		width: 58.33%;
	}
	.col-s-8 {
		width: 66.66%;
	}
	.col-s-9 {
		width: 75%;
	}
	.col-s-10 {
		width: 83.33%;
	}
	.col-s-11 {
		width: 91.66%;
	}
	.col-s-12 {
		width: 100%;
	}
	.s-fixed {
		width: 100%;
		p {
            text-align: right;
        }
	}
}
@media only screen and (min-width: 1200px) {
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
	body {
		width: 1080px;
		margin: auto;
	}
}
