.news {
	display: inline-block;
	margin: 5px 0;
	padding: 20px 0;
	background-color: black;
	* {
        text-align: left;
    }
    img {
        margin: 0px;
        width: 100%;
        max-width: 400px;
        padding: 0 30px;
    }
    a {
        color: #00aeff;
        text-decoration: none;
        &:visited {
            color: #00aeff;
        }
    }
    .date {
        margin-bottom: 2px;
        color: gray;
    }
    .news-container {
		position: relative;
		max-width: 400px;
	}
}
@media only screen and (min-width: 980px) {
    .s-fl-left {
        float: left;
    }
    .s-fl-right {
        float: right;
    }
    .news {
        display: flex;
        height: 225px;
        h3 {
            margin-top: 0;
        }
        a {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        div {
            margin-right: 15px;
            flex-grow: 1;
        }
        .news-container {
            height: 212px;
        }
    }
}
